
body{
  margin: 12rem 12rem;
  font-family: 'Arial', sans-serif;
}

.container{
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5%;
}

#title{
   font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}

#Quote{
  font-size: 1rem;
  color: #555;
}

#Author{
  font-size: 0.5rem;
  font-style: italic;
  color: #777;
}

#Generate{
  border: 1px solid black; 
  padding: 0.5rem;
  color: white;
  background-color: rgb(81, 81, 224);
}
#Generate:hover{
   background-color: rgb(167, 88, 167);
}
